<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Calling.......</h1>
        <h2>Lift the Call.....</h2>
        <h2>Hello Srujana Vadhilestunnava ra Nannu</h2>
        <h2>Em Ayyindhi ra </h2>
        <a href="{% url 'srujana' %}">Respond to Vishnu</a>
        <a href="{% url 'vishnu2' %}">Go to Vishnu2 Replay</a>
    </center>
</body>
</html>